<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chelsea Metal Plating</title>
    <link rel="stylesheet" type="text/css" href="static/css/services1.css">
  </head>

  <!--_____________________________________________________________________________
      __________________________________MAIN MENU__________________________________
      _____________________________________________________________________________-->
<div class="nav">
        <div class="dropContainer">
              <button class="dropButton">The Company 
                <i class="/"></i>
              </button>
              <div class="dropContent">
                <a href="/about">About</a>
                <a href="/expertise">Expertise</a>
              </div>
          </div> 
        <div class="dropContainer">
              <button class="dropButton">Gold Plating
                <i class=""></i>
              </button>
              <div class="dropContent">
                <a href="/research">Research Development</a>
                <a href="/industrial">Industrial</a>
                <a href="/personal">Personalised</a>
              </div>
            </div> 
      </div>
      
    
<!--______________________________Landing Image__________________________________-->
<section id="landingimage">
  <div class=landingtext>
    <h1> Gold Plating </h1>
  </div>
</section>

<!--_______________________Row-1 Container___________________-->
<div id="row1-container">

  <div class="column1-row1">
    <p>At Chelsea, we remain on the cutting-edge of metal plating technologies to ensure our products 
       are always leading the way in the industry, outperforming our closest competition. </p>
    <h3><a href="/research">Research</a></h3>
  </div>

  <div class="column2-row1">
    <p>At Chelsea, we remain on the cutting-edge of metal plating technologies to ensure our products 
        are always leading the way in the industry, outperforming our closest competition.</p>
        <h3><a href="/Personal">Personalised</a></h3>
  </div>

  <div class="column3-row1">
    <p>At Chelsea, we remain on the cutting-edge of metal plating technologies to ensure our products 
        are always leading the way in the industry, outperforming our closest competition.</p>
        <h3><a href="/Industrial">Industrial</a></h3>
  </div>

</div>




