<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chelsea Metal Plating</title>
    <link rel="stylesheet" type="text/css" href="static/css/index1.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script> <!-- imports JQuery script reading-->
  </head>

  <!--_____________________________________________________________________________
      __________________________________MAIN MENU__________________________________
      _____________________________________________________________________________-->

  <div class="nav">
    <div class="dropContainer">
          <button class="dropButton">The Company 
            <i class=""></i>
          </button>
          <div class="dropContent">
            <a href="#">About</a>
            <a href="#">Expertise</a>
          </div>
      </div> 
    <div class="dropContainer">
          <button class="dropButton">Gold Plating
            <i class=""></i>
          </button>
          <div class="dropContent">
            <a href="#">Research Development</a>
            <a href="#">Industrial</a>
            <a href="#">Personalised</a>
          </div>
        </div> 
  </div>
  
  </html>

  <!--_____________________________________________________________________________
      __________________________________LANDING IMAGE______________________________
      _____________________________________________________________________________-->
<section id="landingimage">
  <div class=landingtext>
    <h1> Chelsea Metal Plating </h1>
  </div>
</section>

  <!--_____________________________________________________________________________
      __________________________________SUB-TITLE__________________________________
      _____________________________________________________________________________-->
      <div id="row0-container">

          <div class="column1-row0">
            <h3>Gold Plating</h3>
          </div>
        </div>
  <!--_____________________________________________________________________________
      _______________________________GOLD PLATING IMAGE____________________________
      _____________________________________________________________________________-->
      <section id="goldimage">
          <div class=goldtext>
            <h1> Gold plating </h1>
          </div>
        </section>


  <!--_____________________________________________________________________________
      __________________________________ROW ONE____________________________________
      _____________________________________________________________________________
<div id="row1-container">

  <div class="column1-row1">
    <h3>Research</h3>
  </div>

  <div class="column2-row1">
    <h3> Industrial</h3>
  </div>

  <div class="column3-row1">
    <h3> Personalisation</h3>
  </div>

</div> -->

  <!--_____________________________________________________________________________
      __________________________________SUB-TITLE__________________________________
      _____________________________________________________________________________
<div id="row0-container">

  <div class="column1-row0">
    <h3>Clients</h3>
  </div>
</div> -->

  <!--_____________________________________________________________________________
      __________________________________ROW TWO____________________________________
      _____________________________________________________________________________
<div id="row2-container">

  <div class="column1-row2">
    <h3>Rolls Royce</h3>
  </div>

  <div class="column2-row2">
    <h3> Airbus</h3>

  </div>

  <div class="column3-row2">
    <h3> European Space Agency</h3>
  </div>

</div> -->


<!-- <script type="text/javascript">
  $(window).on('scroll',function() {
     if($(window).scrollTop()) {
      $('Navigation').addClass('sticky');
     }
     else{
       $('Navigation').removeClass('sticky');
     }
   })
</script> -->

  <!--___________________________Heading Section________________________________
  <body>
    <header id=Heading>
      <h1>Chelsea Metal Plating</h1>
    </header> 
  -->

  <!--___________________________navigation bar________________________________
<nav id="Menu">
  <div>
    <a href="/">The Company</a>
    <div class="dropdown">
        <button class="dropbtn">Dropdown 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div> 
    <a href="/Gold Plating">GoldPlating</a>
    <a href="/Clients">Clients</a>
  </div>
</nav>

<div class="navbar">
    <a href="#home">Home</a>
    <a href="#news">News</a>
    <div class="dropdown">
      <button class="dropbtn">Dropdown 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div> 
  </div>
-->